<section class="Food01 outer main">
    <div class="image outer">
        <div class="image inner center">
        </div>
    </div>
    <div class="text outer center">
        <h3>LOREM IPSUM</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda accusantium corporis voluptas adipisci dicta iusto labore doloremque et repellendus odit?
        </p>
        <button>Menu</button>
    </div>
</section>

<style>
    .Food01.outer.main{
        height: fit-content;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: black;
    }
    .Food01 .image.outer{
        height: 500px;
        width: 45%;
        margin: 100px 0;
    }
    .Food01 .image.inner{
        background: url('/burgerImage');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%
    }

    .Food01 .text.outer{
        width: 30%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .Food01 .text h3{
        color: inherit;
        width: 100%;
        font-size: 1em;
        font-family: inherit;
        margin-bottom: 40px;
    }
    .Food01 .text p{
        color: inherit;
        width: 100%;
        font-size: 1em;
        line-height: 1.4;
        font-family: inherit;
        margin-bottom: 40px;
    }
    .Food01 .text button{
        background-color: black;
        color: white;
        font-size: 1em;
        height: 45px;
        width: 120px;
    }
    .Food01 .text button:hover{
        opacity: 0.8;
        cursor: pointer;
    }
</style>