<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Der Essensort | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.timekit.io/booking-js/v3/booking.min.css" />
    <script type="text/javascript" src="//cdn.timekit.io/booking-js/v3/booking.min.js" defer></script>   
</head>
<body class="center">
    <!-- Navigation -->

    <!-- /Navigation -->
    <!-- Landing Section -->
        <%- include('./Home/Landing/Landing.ejs') %>
    <!-- /Landing Section -->
    <!-- Section 1  -->
        <%- include('./Home/Food01/Food01.ejs') %>
    <!-- /Section 1 -->
    <!-- Section 2 -->

    <!-- /Section 2 -->
    <!-- Section 3 -->
        <%- include('./Home/Food03/Food03.ejs') %>
    <!-- /Section 3 -->
</body>
<style>
    *{
        margin: 0;
        border: 0;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 20px;
    }
    body, html{
        width: 100%;
        height: fit-content;
        scroll-behavior:smooth;
        background-color: black;
    }
    body{
        flex-direction: column;
    }
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media all and (max-width: 1000px){
        *{
            font-size: 18px;
        }
    }
</style>
<script>
    console.log("Template Website Created By Thenu Kaluarachchi\n\nDo Not Use Without Prior Permission: kktsk1@st-andrews.ac.uk")
</script>
</html>
