<section class="Food02 outer main center">
    <!-- <div class="text center">
        <h3>LOREM IPSUM</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla esse voluptas aspernatur sed quas consequuntur eveniet deleniti minus accusantium odit.
        </p>
    </div>
    <div class="awards">
        <img src="../../Assets/award1.png" alt="">
    </div> -->
</section>

<style>
    .Food02.outer.main{
        width: 100%;
        height: 650px;
        background-image: url('/burger00');
        background-position: center;
        background-size: cover;
        /* background-attachment:fixed; */
        /* margin-bottom: 400px; */
        position: relative;
    }
    /* .Food02 .text{
        color: white;
        font-size: 20px;
        width: 30%;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 8%;
    }
    .Food02 .text h3{
        color: inherit;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .Food02 .text p{
        line-height: 1.4;
    } */
</style>